In [1]:
# For basic operations
import numpy as np
import pandas as pd

# for data visualizations
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\Vivobook\AppData\Local\Programs\Python\Python39\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
# Lets check the head of naukri
data = pd.read_csv('Naukri-dataset.csv')

# Lets check the shape
data.shape

(22000, 14)

In [3]:
# lets check the Head of the Dataset
data.head()

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [6]:
data['joblocation_address'] = data['joblocation_address'].str.split(',')
data['joblocation_address'].iloc[:5]

0                                            [Chennai]
1                                            [Chennai]
2                                          [Bengaluru]
3    [Mumbai,  Bengaluru,  Kolkata,  Chennai,  Coim...
4                                          [Bengaluru]
Name: joblocation_address, dtype: object

In [7]:
data = data.explode('joblocation_address')
pd.set_option('max_rows',30000)
data['joblocation_address'].value_counts()[:20]

Bengaluru/Bangalore           3775
Mumbai                        2593
Bengaluru/Bangalore           2134
Bengaluru                     2026
 Mumbai                       1378
Chennai                       1290
Hyderabad / Secunderabad      1246
Hyderabad                     1154
Mumbai                        1067
 Mumbai                        923
 Chennai                       905
Delhi                          790
Noida                          777
Gurgaon                        762
 Chennai                       738
 Hyderabad / Secunderabad      700
Delhi                          680
 Pune                          645
 Delhi                         602
 Gurgaon                       557
Name: joblocation_address, dtype: int64

In [9]:

data['joblocation_address'] = data['joblocation_address'].replace(('(Bengaluru/Bangalore)',' Bangalore',
                                                                ' Bangalore ','Bangalore ','Bengaluru/Bangalore ',
                                                                 ' Bengaluru/Bangalore ',' Bengaluru/Bangalore',
                                                                'Bengaluru/Bangalore','Bengaluru','NCR Bangalore',
                                                                'NCR Bangalore ','Near Bangalore', ' Bengaluru/Bangalore',
                                                                 ' Bengaluru/Bangalore ', ' Bengaluru',
                                                                 'Bangalore , Bangalore / Bangalore',
                                                                 'Bangalore , karnataka',' Bengaluru / Bangalore', 
                                                                 ' Bengaluru / Bangalore ', 'Bengaluru Bangalore',
                                                                 'India-Karnataka-Bangalore',' bangalore',' karnataka',
                                                                ' Bengaluru Bangalore'),
                                                                ('Bangalore','Bangalore','Bangalore','Bangalore','Bangalore',
                                                                'Bangalore','Bangalore','Bangalore','Bangalore','Bangalore',
                                                                'Bangalore','Bangalore','Bangalore','Bangalore','Bangalore',
                                                                 'Bangalore','Bangalore', 'Bangalore','Bangalore','Bangalore',
                                                                'Bangalore','Bangalore','Bangalore','Bangalore',))
                                                                
data['joblocation_address'] = data['joblocation_address'].replace(('Hyderabad / Secunderabad',' Hyderabad / Secunderabad',
                                                                 ' Hyderabad / Secunderabad ','Hyderabad / Secunderabad ',
                                                                ' Hyderabad','Hyderabad ',' Hyderabad ',
                                                                 'Hyderabad/Secunderabad','Hyderabad/Secunderabad ',
                                                                ' Hyderabad/Secunderabad ',' Hyderabad/Secunderabad',),
                                                                ('Hyderabad', 'Hyderabad','Hyderabad','Hyderabad',
                                                                 'Hyderabad', 'Hyderabad','Hyderabad','Hyderabad',
                                                                'Hyderabad','Hyderabad','Hyderabad'))


  
data['joblocation_address'] = data['joblocation_address'].replace(('NAVI MUMBAI',' NAVI MUMBAI','NAVI MUMBAI ',
                                                                 ' NAVI MUMBAI',' NAVI MUMBAI ','Mumbai , Mumbai',
                                                                 ' Mumbai',' Mumbai ','Mumbai ','mumbai','Navi Mumbai',
                                                                ' Navi Mumbai',' Navi Mumbai ','Navi Mumbai ', 
                                                                 ' Mumbai Suburbs','Mumbai Suburbs ','Mumbai Suburbs',
                                                                ' Mumbai Suburbs ','mumbai',' mumbai','mumbai ',
                                                                 ' maharashtra'),
                                                                ('Mumbai','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai',
                                                                 'Mumbai','Mumbai','Mumbai', 'Mumbai','Mumbai','Mumbai',
                                                                'Mumbai','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai',
                                                                'Mumbai','Mumbai', 'Mumbai'))

data['joblocation_address'] = data['joblocation_address'].replace(('Noida','Noida ',' Noida',' Delhi','Delhi','Delhi ',' Delhi ',
                                                                 'Gurgaon',' Gurgaon',' Gurgaon ','Gurgaon ', ' noida',
                                                                 ' Noida/Greater Noida',' Noida ', ' Delhi NCR',
                                                                 'Delhi/NCR(National Capital Region)',' Delhi/NCR ',
                                                                 ' Delhi/NCR(National Capital Region)',
                                                                 ' Delhi/NCR(National Capital Region) ',
                                                                 'Delhi/NCR(National Capital Region) ','Delhi , Delhi',
                                                                 'Noida , Noida/Greater Noida','Ghaziabad',
                                                                 'Delhi/NCR(National Capital Region) , Gurgaon',
                                                                 'NCR , NCR','NCR/NCR(National Capital Region)',
                                                                'NCR , NCR/Greater NCR','NCR/NCR(National Capital Region), NCR',
                                                                 'NCR , NCR/NCR(National Capital Region)',
                                                                 'NCR/NCR(National Capital Region)','NCR/Greater NCR',
                                                                 'NCR/NCR(National Capital Region) , NCR','Delhi/NCR ',
                                                                ' Noida/Greater Noida','Greater Noida',' Greater Noida',
                                                                 ' Greater Noida ','Greater Noida ','Ghaziabad',' Ghaziabad',
                                                                 'Ghaziabad ',' Ghaziabad ','Faridabad','Faridabad ',
                                                                 ' Faridabad',' Faridabad ',' Noida/Greater Noida',
                                                                 ' Noida/Greater Noida ',' delhi',' Delhi/NCR','Delhi NCR'
                                                                ),
                                                                ('NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                'NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                'NCR','NCR','NCR','NCR','NCR','NCR', 'NCR','NCR','NCR','NCR',
                                                                 'NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                 'NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                'NCR'))


data['joblocation_address'] = data['joblocation_address'].replace(('Chennai ',' Chennai',' Chennai ',' Chennai',
                                                                 'chennai ',' chennai',' chennai ',' chennai',),
                                                                ('Chennai', 'Chennai','Chennai','Chennai','Chennai',
                                                                'Chennai','Chennai','Chennai',))

data['joblocation_address'] = data['joblocation_address'].replace(('Pune ',' Pune',' Pune '),('Pune','Pune','Pune'))
data['joblocation_address'] = data['joblocation_address'].replace(('Kolkata ',' Kolkata',' Kolkata ',
                                                                ' kolkata','kolkata ',' kolkata'),
                                                                ('Kolkata','Kolkata','Kolkata',
                                                                  'Kolkata','Kolkata','Kolkata'))
data['joblocation_address'] = data['joblocation_address'].replace((' Ahmedabad','Ahmedabad ',' Ahmedabad '),('Ahmedabad',
                                                                                         'Ahmedabad','Ahmedabad'))
data['joblocation_address'] = data['joblocation_address'].replace(('Chandigarh ',' Chandigarh',' Chandigarh '),
                                                                ('Chandigarh','Chandigarh','Chandigarh'))
data['joblocation_address'] = data['joblocation_address'].replace(('Surat ',' Surat',' Surat '),
                                                                ('Surat','Surat','Surat'))
data['joblocation_address'] = data['joblocation_address'].replace(('Ernakulam / Kochi/ Cochin ', ' Kochi', 'Kochi ',' Kochi ',
                                                                 ' Cochin/ Kochi/ Ernakulam', ' Cochin/ Kochi/ Ernakulam ', 
                                                                 ' Ernakulam / Kochi/ Cochin',' Ernakulam / Kochi/ Cochin '),
                                                                ('Kochi','Kochi','Kochi','Kochi','Kochi','Kochi','Kochi',
                                                                 'Kochi',))
data['joblocation_address'] = data['joblocation_address'].replace(('Coimbatore ',' Coimbatore',' Coimbatore '),
                                                                ('Coimbatore','Coimbatore','Coimbatore'))
data['joblocation_address'] = data['joblocation_address'].replace(('Coimbatore ',' Coimbatore',' Coimbatore '),
                                                                ('Coimbatore','Coimbatore','Coimbatore'))
data['joblocation_address'] = data['joblocation_address'].replace(('Lucknow ',' Lucknow',' Lucknow '),
                                                                ('Lucknow','Lucknow','Lucknow'))
data['joblocation_address'] = data['joblocation_address'].replace(('Jaipur ',' Jaipur',' Jaipur ','jaipur ',' jaipur',
                                                                 ' jaipur '),
                                                                ('Jaipur','Jaipur','Jaipur','Jaipur','Jaipur','Jaipur'))
data['joblocation_address'] = data['joblocation_address'].replace(('Vijayawada ',' Vijayawada',' Vijayawada '),
                                                                ('Vijayawada','Vijayawada','Vijayawada'))
data['joblocation_address'] = data['joblocation_address'].replace(('Visakhapatnam ',' Visakhapatnam',' Visakhapatnam ',
                                                                'Visakhapatnam/Vizag ',' Visakhapatnam/Vizag',
                                                                 ' Visakhapatnam/Vizag '),
                                                                ('Visakhapatnam','Visakhapatnam','Visakhapatnam',
                                                                 'Visakhapatnam','Visakhapatnam','Visakhapatnam',
                                                                ))

data['joblocation_address'] = data['joblocation_address'].replace((' Bhubaneshwar',' Bhubaneshwar',' Bhubaneshwar '),
                                                                ('Bhubaneshwar','Bhubaneshwar','Bhubaneshwar'))
data['joblocation_address'] = data['joblocation_address'].replace((' Patna',' Patna',' Patna '),
                                                                ('Patna','Patna','Patna'))

data['joblocation_address'] = data['joblocation_address'].replace((' Trivandrum',' Trivandrum',' Trivandrum '),
                                                                ('Trivandrum','Trivandrum','Trivandrum'))

data['joblocation_address'] = data['joblocation_address'].replace((' Mangalore',' Mangalore',' Mangalore '),
                                                                ('Mangalore','Mangalore','Mangalore'))
data['joblocation_address'] = data['joblocation_address'].replace((' Indore',' Indore',' Indore '),
                                                                ('Indore','Indore','Indore'))
data['joblocation_address'] = data['joblocation_address'].replace((' Guwahati',' Guwahati',' Guwahati '),
                                                                ('Guwahati','Guwahati','Guwahati'))
data['joblocation_address'] = data['joblocation_address'].replace((' Nagpur',' Nagpur',' Nagpur '),
                                                                ('Nagpur','Nagpur','Nagpur'))
data['joblocation_address'] = data['joblocation_address'].replace((' Raipur',' Raipur',' Raipur '),
                                                                ('Raipur','Raipur','Raipur'))
data['joblocation_address'] = data['joblocation_address'].replace((' Thane',' Thane',' Thane '),
                                                                ('Thane','Thane','Thane'))
data['joblocation_address'] = data['joblocation_address'].replace((' Bhopal',' Bhopal',' Bhopal '),
                                                                ('Bhopal','Bhopal','Bhopal'))
data['joblocation_address'] = data['joblocation_address'].replace((' Vadodara/Baroda',' Vadodara/Baroda',' Vadodara/Baroda ',
                                                                ' Vadodara','Vadodara ',' Vadodara '),
                                                                ('Vadodara','Vadodara','Vadodara','Vadodara',
                                                                 'Vadodara','Vadodara',))
                                                                                                                                  
pd.set_option('max_rows', 2400)
data['joblocation_address'].value_counts()

Bangalore                                         9963
NCR                                               8668
Mumbai                                            6403
Hyderabad                                         4570
Chennai                                           3373
Pune                                              1227
Kolkata                                            543
Ahmedabad                                          404
Chandigarh                                         189
Kochi                                              140
Coimbatore                                         136
Jaipur                                             131
Visakhapatnam                                      125
Surat                                              106
Lucknow                                            101
Vijayawada                                          84
Bhubaneshwar                                        74
Trivandrum                                          69
Vadodara                                            65
Indore                                              63
Mangalore                                           57
Thane                                               48
Nagpur                                              45
Bhopal                                              42
Guwahati                                            39
Raipur                                              32
Patna                                               26
 haryana                                            23
 Mysore                                             22
 Cuttack                                            21
 Trichy                                             19
                                                    19
 Ludhiana                                           18
 Kanpur                                             17
 Nasik                                              17
 Agra                                               16
 Dehradun                                           15
 Kanpur                                             15
 Mysore                                             14
 Ranchi                                             14
 Dehradun                                           14
 Hubli                                              14
 India                                              14
 Other City(s) in Uttar Pradesh                     14
 Trichy                                             13
 Ranchi                                             13
 Karnal                                             12
 Rohtak                                             12
 Belgaum                                            12
Patna                                               12
 Madurai                                            12
 Ambala                                             12
 Guntur                                             11
 Guntur                                             11
 Salem                                              11
 Kurukshetra                                        11
 mumbai                                             11
 Agra                                               11
 Vellore                                            11
 Hubli                                              10
 Panipat                                            10
 Nasik                                              10
 Bellary                                             9
 Mohali                                              9
 Ooty                                                9
 Other City(s) in Gujarat                            8
Kanpur                                               8
 Ludhiana                                            8
 Vellore                                             8
 Pondicherry                                         8
 Jammu                                               8
 gurgaon                                             8
 Dubai/ UAE                                          8
 Kota                                                8
 bangalore                                           8
 Nellore                                             8
 Madurai                                             8
 Belgaum                                             8
 Udaipur                                             8
 Rajkot                                              7
Nagpur                                               7
 Haridwar                                            7
 Varanasi                                            7
 Pondicherry                                         7
 Salem                                               7
 Tuticorin                                           7
 Tirupati                                            7
 Anantapur                                           7
 Dadra & Nagar Haveli / Silvassa                     7
 Kakinada                                            7
 Cuddalore                                           7
 Nagercoil                                           6
 Tumkur                                              6
 Aurangabad                                          6
 Karnataka Other                                     6
Ambala                                               6
 Bellary                                             6
 Haryana Other                                       6
 Rajahmundry                                         6
Bhubaneshwar                                         6
 Warangal                                            6
 Kurnool                                             6
 Tirunelveli                                         6
 Meerut                                              6
 Durg                                                5
 Kerala                                              5
 Kozhikode / Calicut                                 5
 Davangere                                           5
 Tirunelveli                                         5
 noida                                               5
 Gandhinagar                                         5
 Andhrapradesh Other                                 5
 Erode                                               5
 Karur                                               5
 kolkata                                             5
Aurangabad                                           5
 Hisar                                               5
 Bhilai/Bhillai                                      5
 Malaysia                                            5
 Panjim                                              5
 Meerut                                              5
THANE                                                5
 IN-MH-Greater Mumbai-Mumbai-Voltas C                5
 Kozhikode                                           5
 pune                                                4
 United States (U.S)                                 4
 Malappuram                                          4
 Agartala                                            4
 Kanchipuram                                         4
 Bharuch                                             4
 Allahabad                                           4
 Tirupati                                            4
 Anantapur                                           4
 Hong Kong                                           4
 Amritsar                                            4
 United States (U.S)                                 4
 Singapore                                           4
 Hyderabad Kolkata                                   4
 Varanasi                                            4
 Kota                                                4
 Rohtak                                              4
 hyderabad                                           4
 Tuticorin                                           4
 Haryana                                             4
 Jalandhar                                           4
 Thrissur / Trichur                                  4
 Mohali                                              4
 delhi                                               4
 Nizamabad                                           4
 Mehsana                                             4
Mysore                                               4
 Gwalior                                             4
 United Kingdom (U.K)                                4
 Bhiwadi                                             4
 Moradabad                                           4
Chennai Bangalore                                    4
 Haryana Other                                       4
 Nellore                                             4
 Singapore                                           4
Chennai Bangalore                                    4
 Aurangabad                                          4
 Dharwad                                             4
 Dadra and Nagar Haveli                              3
 New Delhi                                           3
 Gulbarga                                            3
 Baddi                                               3
 Kozhikode / Calicut                                 3
 Hosur                                               3
 Kolar                                               3
 Guntakal                                            3
 Hosur                                               3
 Ankleshwar                                          3
 Australia                                           3
 Japan                                               3
 Gorakhpur                                           3
 Cuttack                                             3
 Valsad                                              3
 Ambala                                              3
 Warangal                                            3
 Other City(s) in Andhra Pradesh                     3
Ludhiana                                             3
 Uttarpradesh Other                                  3
 Manesar                                             3
 Lakshadweep                                         3
 Dahej                                               3
 London                                              3
 Wayanad                                             3
 Thanjavur                                           3
 Nagercoil                                           3
 Vapi                                                3
 Davangere                                           3
 Dalhousie                                           3
 Gandhidham                                          3
 IN-MH-Greater Mumbai-Mumbai                         3
 Amritsar                                            3
Indore                                               3
 Kanchipuram                                         3
 Jodhpur                                             3
 Wayanad                                             3
 Sonepat                                             3
 Saudi Arabia                                        3
 Ujjain                                              3
Dehradun                                             3
 hyderabad                                           3
Belgaum                                              3
 Thrissur / Trichur                                  3
 United Kingdom (U.K)                                3
 chandigarh                                          3
 indore                                              3
 Jamshedpur                                          3
 Varanasi / Banaras                                  3
Mysore                                               3
 Dharwad                                             3
 Jodhpur                                             3
 Vasco Da Gama                                       3
 Gulbarga                                            3
 Doda                                                3
 Saudi Arabia                                        2
 khurja                                              2
 Bidar                                               2
Hubli                                                2
 Mathura                                             2
 Aligarh                                             2
Guwahati                                             2
 Punjab                                              2
 Vapi                                                2
mumbai/pune                                          2
 banda                                               2
 Khammam                                             2
 Mumbai PUNE                                         2
 Other City(s) in Chhattisgarh                       2
 Other City(s) in Punjab                             2
Delhi/NCR                                            2
Guntur                                               2
 Saharanpur                                          2
 Goa Other                                           2
 Mumbai PUNE                                         2
 Dharmasala                                          2
 IN-DL-New Delhi                                     2
 Allahabad                                           2
 Bangalore Hyderabad                                 2
 MP                                                  2
 Dhanbad                                             2
 Kashipur                                            2
 India                                               2
 Baddi                                               2
 Solapur                                             2
 Bijnor                                              2
 Other City(s) in Kerala                             2
 Cuddapah                                            2
 Kolkata Bangalore                                   2
 Other City(s) in Har                                2
 Daman & Diu                                         2
Panjim/Panaji                                        2
Vadodara/Baroda                                      2
 Other City(s) in Maharashtra                        2
 Panjim/Panaji                                       2
 Andhra Pradesh                                      2
 Goregaon (E)                                        2
 Jamshedpur                                          2
 IN-IN                                               2
 Mysoru / Mysore                                     2
 Rajahmundry                                         2
 Kuwait                                              2
 Haryana                                             2
Chennai Mumbai                                       2
 Haldwani                                            2
 Daman & Diu                                         2
 IN-HR-Gurgaon                                       2
 Agartala                                            2
 Panjim/Panaji                                       2
 Kullu/Manali                                        2
 Qatar                                               2
 lucknow                                             2
 Erode                                               2
 Karnataka                                           2
 Hyderabad Kolkata                                   2
 Bangalore Kolkata                                   2
Chandrapur                                           2
 Gujarat                                             2
Nellore                                              2
 Vasco Da Gama                                       2
 Karimnagar                                          2
 Maharashtra                                         2
 Coimbatore Mumbai                                   2
 Bareilly                                            2
 Karnal                                              2
 Ahmednagar                                          2
 Kolhapur                                            2
 Telangana                                           2
Sambalpur                                            2
 Rourkela                                            2
 Maharashtra                                         2
 Faizabad                                            2
 Kurnool                                             2
 PUNE Delhi                                          2
Chennai Mumbai                                       2
 Other City(s) in Jammu & Kashmir                    2
 Uttaranchal Other                                   2
 Jamnagar                                            2
 punjab                                              2
 Kakinada                                            2
 Cuddalore                                           2
 Other City(s) in Andhra Pradesh                     2
 Anand                                               2
 Rajkot                                              2
 Rudrapur                                            2
Amritsar                                             2
 Rourkela                                            2
 Thrissur                                            2
 India - Bangalore                                   2
 Gujarat                                             2
 Shimoga                                             2
Mehsana                                              2
 Lonavala                                            2
 Shimoga                                             2
 Palakkad                                            2
 Bareilly                                            2
 Vasai                                               2
PANVEL                                               2
 Srinagar                                            2
 Bhillai                                             2
 MP                                                  2
Jamshedpur                                           2
 Pune (Salunke Vihar)                                1
 Hisar                                               1
 Sambalpur                                           1
 Bikaner                                             1
 Baden                                               1
 Vijayawada Guntur                                   1
 Vellore Salem                                       1
 Pune (Swarga                                        1
 Australia                                           1
 COLABA                                              1
 Moga                                                1
Salem                                                1
 IN-MH-Mumbai-Prism Towers / 31002                   1
Mangalore                                            1
 Shimla                                              1
 India-Karnataka-Bangalore                           1
 MULUND                                              1
 Angul                                               1
Ahmednagar                                           1
Ludhiana                                             1
 Hindupur                                            1
 India; Gurgaon                                      1
 Haldia                                              1
 Panaji Patna                                        1
 Hyderabad PUNE                                      1
 Overseas                                            1
 Villupuram Pondy                                    1
Rajahmundry                                          1
 Srinagar                                            1
City                                                 1
thane                                                1
 Cochin                                              1
 PUNE Bangalore                                      1
 VASHI                                               1
 Jalgaon                                             1
 Andhrapradesh Other                                 1
 Rajasthan                                           1
Agra                                                 1
 Neemrana                                            1

In [11]:
counts = data['joblocation_address'].value_counts()
data = data.loc[data['joblocation_address'].isin(counts.index[counts > 25])]
display(data['joblocation_address'].value_counts())

Bangalore        9963
NCR              8668
Mumbai           6403
Hyderabad        4570
Chennai          3373
Pune             1227
Kolkata           543
Ahmedabad         404
Chandigarh        189
Kochi             140
Coimbatore        136
Jaipur            131
Visakhapatnam     125
Surat             106
Lucknow           101
Vijayawada         84
Bhubaneshwar       74
Trivandrum         69
Vadodara           65
Indore             63
Mangalore          57
Thane              48
Nagpur             45
Bhopal             42
Guwahati           39
Raipur             32
Patna              26
Name: joblocation_address, dtype: int64

In [12]:
data['experience'][:5]

0      0 - 1 yrs
1      0 - 0 yrs
2      4 - 8 yrs
3    11 - 15 yrs
3    11 - 15 yrs
Name: experience, dtype: object

In [13]:
pd.set_option('max_rows',40000)
data['experience'].str.split(' ')[:5]

0      [0, -, 1, yrs]
1      [0, -, 0, yrs]
2      [4, -, 8, yrs]
3    [11, -, 15, yrs]
3    [11, -, 15, yrs]
Name: experience, dtype: object

In [14]:
data['experience'] = data['experience'].str.split(" ")
data['Min Experience'] = data['experience'].apply(lambda x: x[0])
data['Max Experience'] = data['experience'].apply(lambda x:x[2] if len(x) > 2 else x[1])

<ipython-input-14-a8ce41f4b8ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['experience'] = data['experience'].str.split(" ")
<ipython-input-14-a8ce41f4b8ef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Min Experience'] = data['experience'].apply(lambda x: x[0])
<ipython-input-14-a8ce41f4b8ef>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Max Experience'] = data['experience'].apply(lambda x:x[2] if len(x) > 2 else x[1])

In [15]:
data['Min Experience'].value_counts()

2      7301
0      6340
3      5343
1      4490
5      3329
4      3135
6      1530
10     1430
8      1292
7      1048
9       486
12      315
15      285
Not     111
11       75
13       74
14       63
20       26
18       25
16       16
17        6
25        1
23        1
26        1
Name: Min Experience, dtype: int64

In [16]:
data['Max Experience'].value_counts()

5            6458
7            4494
8            3740
6            3303
3            3233
10           2860
4            2664
9            1815
2            1597
12           1085
1            1064
11           1059
15            834
13            682
20            501
0             358
14            251
18            134
Mentioned     111
16            109
17             94
25             85
22             85
19             27
23             26
24             20
21             12
30             11
28              8
-1              1
26              1
27              1
Name: Max Experience, dtype: int64